Django==4.2.15
django-debug-toolbar==4.4.6
django-filter==24.3
django-redis==5.4.0
django-silk==5.1.0
django-template-mail==0.1
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djoser==2.2.3

celery==5.4.0
flower==2.0.1

mysqlclient==2.2.4
redis==5.0.8

pytest==8.3.2
pytest-django==4.8.0
pytest-watch==4.2.0

requests==2.32.3
requests-oauthlib==2.0.0

pillow==10.4.0
model-bakery==1.18.2

python-dateutil==2.9.0.post0
pytz==2024.1

